services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: wist
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    restart: always
    depends_on:
      - db
    ports:
      - "127.0.0.1:8080:8080"
    env_file:
      - .env


volumes:
  pgdata:
