services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: wist
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    image: ghcr.io/mrwhoknows55/wist:latest
    restart: always
    depends_on:
      - db
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      DB_URL: jdbc:postgresql://db:5432/wist
      DB_USER: postgres
      DB_PASSWORD: password

volumes:
  pgdata:
